/* MAIN */
html {
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    color: #000;
}

section {
    padding: 25px;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(221, 218, 26);
}

.navbar_logo {
    font-size: 22px;
    font-weight: bold;
    margin-left: 20px;
    color: #FFF;
}

.navbar_liste {
    display: flex;
}

.navbar_element {
    padding: 20px;
}

.navbar_element a {
    color: #FFF;
    text-decoration: none;
    white-space: nowrap;
}

.navbar_element:hover {
    cursor: pointer;
    background-color: rgb(221, 218, 26);
}

.navbar_element:hover a {
    color: #000;
}

/* INTRO */
.intro {
    display: flex;
    justify-content: center;
}

.intro_block {
    width: 50%;
}

.intro_block.first {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro_img {
    max-width: 100%;
}

.intro_block.second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.intro_title {
    font-size: 30px;
    border-bottom: 1px solid #9B2922;
    margin-bottom: 40px;
    margin: 80px;
}

.intro_text, .stage_text {
    font-size: 16px;
    line-height: 26px;
}

/* FOOTER */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 218, 26);
    width: 100%;
    color: #FFF;
}

.footer.footer--fixed {
    position: fixed;
    bottom: 0;
}

.copyright {
    margin: 15px 0;
}

/* STAGE */
.stage {
    display: flex;
    align-items: center;
}

ul.stage_text {
    list-style-type: circle;
    padding-left: 35px;
    margin: 10px 0;
}

.stage_img {
    align-items: flex-end;
}

.stage_block {
    width: 50%;
}

.stage_block.first {
    padding: 30px 30px 30px 0;
}

.stage_img {
    max-width: 100%;
}

.bureaux_img {
    max-width: 100%;
}

.bureaux_text {}

.title {
    font-size: 30px;
    border-bottom: 3px solid #9B2922;
    display: inline-block;
    margin-bottom: 30px;
}

.team_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.team_person {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 25%;
}

.team_person_img {
    max-width: 200px;
    max-height: 200px;
}

.team_person_text {
    text-align: center;
    margin: 15px 0;
    line-height: 25px;
    font-size: 14px;
}

.team_person_text span {
    font-size: 16px;
    font-weight: bold;
}

.description_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.description_block.second, .description_block.third {
    text-align: center;
    display: flex;
    justify-content: center;
}

.bureaux_text {
    width: 250px;
    font-size: 20px;
}

.description_block {
    width: 50%;
}

.definition_text {
    display: none;
}

.lexique {
    width: 50%;
    margin: 100px auto;
}

.definition_title {
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.definition_panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.definition_title:after {
    content: '\02795';
    color: black;
    font-size: 13px;
    float: right;
    margin-left: 15px;
}

.active:after {
    content: "\2796";
}

.music-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.music-container a {
    display: block;
    width: 33%;
}

.music_img {
    max-width: 100%;
}

@media screen and (max-width: 1000px) {
    .team_person {
        width: 33.3%;
    }

    .stage {
        flex-wrap: wrap;
    }

    .stage_block {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .intro {
        flex-wrap: wrap;
    }

    .intro_block {
        width: 100%;
    }

    .footer.footer--fixed {
        position: relative;
    }

    .team_person {
        width: 50%;
    }
}

@media screen and (max-width: 700px) {
    .description_block {
        width: 100%;
    }

    .bureaux_text {
        margin: 30px;
        width: 100%;
    }

    .description_block.third {
        order: 4;
    }

    .description_block.fourth {
        order: 3;
    }

    .music-container a {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .team_person {
        width: 100%;
    }

    section {
        padding: 5px;
    }
}

@media screen and (max-width: 400px) {
    .navbar_element {
        padding: 20px 5px;
    }
}