/* MAIN */

html {
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    color: #000;
}
  
/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(221, 218, 26);
}

.navbar_logo {
    font-size: 22px;
    font-weight: bold; 
    margin-left: 20px;
    color: #FFF;
}

.navbar_liste {
    display: flex;
}

.navbar_element {
    padding: 20px;
}

.navbar_element a {
    color: #FFF;
    text-decoration: none;
}

.navbar_element:hover {
    cursor: pointer;
    background-color: rgb(221, 218, 26);;
}

.navbar_element:hover a {
    color: #000;
}

/* INTRO */

.intro {
    display: flex;
}

.intro_block {
    width: 50%;
}

.intro_block.first {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro_block.second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.intro_title {
    font-size: 30px;
    border-bottom: 1px solid #9B2922;
    margin-bottom: 40px;
    margin: 80px;
}

.intro_text {
    font-size: 16px;
    line-height: 26px;
    margin: 160px;
}

/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 218, 26);
    width: 100%;
    color: #FFF;
}

.footer.footer--fixed {
    position: fixed;
    bottom: 0;
}

.copyright {
    margin: 15px 0;
}

/* STAGE */

.stage {
    display: flex;
}

.stage_block {
    width: 50%;
}

.stage_title {
    font-size: 30px;
    border-bottom: 1px solid #9B2922;
    margin: 40px 0 0 40px;
    display: inline-block;
}

.stage_text {
    margin: 50px;
}

.stage_img {
    margin: 60px;
    max-width: 750px;
    max-height: 500px;
}

.bureaux_img {
    margin: 70px;
}

.bureaux_text {
    margin: 120px;
}

.team_title {
    margin: 40px;
    font-size: 30px;
}

.team_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.team_person {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.team_person_img {
    max-width: 250px;
    max-height: 250px;
}

.description {
    display: flex;
    flex-wrap: wrap;
}

.description_block {
    width: 50%;
}

.bureaux_img {
    max-width: 750px;
    max-height: 500px;
}

